@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

header{
	text-align: center;
	margin-bottom: 1em;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="se:letter.dateline"]{
	font-style: italic;
	text-align: right;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
}

[epub|type~="z3998:sender"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-indent: 0;
	text-align: left;
}

.signature{
	font-variant: small-caps;
}

[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:verse"] + p{
	text-indent: 0;
}
